body,html{
    height: 100%;
    width: 100%;
    background-image: url('../img/fondoclaro2.png');
    background-size: cover;
    background-position: center;
    
    }

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
           
    
}

.main-container > .login,
.main-container > .hero-body{
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    background-image: url('../img/fondoclaro.png');   
    
   
}

.form-inline{
    display: inline-flex;
       
}

.control.has-icons-left .icon.is-left {
  color: #999; 
}

.input:focus + .icon.is-left {
  color: #007BFF;
}